<div class="backgroundstyle">
  <div class="row">
    <div class="cell">
      <div>
        <h1 class="title">Calculate your ROI</h1>
        <p class="param">
          Estimate your return on onvestment by implementing Zero Trust
         <br/> Architecture framework with Microsoft solutions
        </p>
      </div>
      <div>
        <div>
          <img class="headerimg" src="../../assets/images/header.png" />
          <img class="yellowup" src="../../assets/images/arrows_yellow_up.svg" />
        </div>
      </div>
    </div>
  </div>
</div>
