<div class="backgroundstyle footer">
  <div class="row">
    <div class="cell">
      <div>
        <h1>Download a report with full results</h1>
        <p>
          Here is the report that summarizes and combines all the key findings<br>
          and results like total benefits, total costs, payback period and ROI
          into a<br> single report.
        </p>
        <button class="app-btn">
            Download results
        </button>
      </div>
      <div>
        <div>
          <img
            src="../../assets/images/arrows_yellow.svg"
            width="234px"
            height="213px"
            class="firstimg"
          />
          <div class="row imgblock">
            <img
            src="../../assets/images/toggle_icon_white.svg"
            width="42px"
            height="98px"
          />
          <img
            src="../../assets/images/arrows_navy.svg"
            width="68px"
            height="74px"
            style="margin-left: 35px;"
          />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
