<div class="backgroundStyle">
  <div>
    <div class="row">
      <div class="content-block">
        <div class="headerStyle">
          <h1 class="headertitle">Input your company detail</h1>
          <p class="paratitle">
            Provide basic information about your company and discover how
            Microsoft solutions for Zero Trust Framework can drive individual,
            team, and organizational productivity at a lower cost
          </p>
          <div>
            <p class="paratitle">
              How many users (employees) are in your organization?
            </p>
            <div class="row">
              <p>500</p>
              <mat-slider
                class="slider"
                min="500"
                max="150000"
                step="1000"
                discrete
                [displayWith]="formatLabel"
              >
                <input matSliderThumb />
              </mat-slider>
              <p>150000</p>
            </div>
          </div>
          <div>
            <p class="paratitle">
              Of this total number, how many are frontline workers?
            </p>
            <div class="row">
              <p>125</p>
              <mat-slider
                class="slider"
                min="125"
                max="500"
                step="10"
                discrete
                [displayWith]="formatLabel"
              >
                <input matSliderThumb />
              </mat-slider>
              <p>500</p>
            </div>
          </div>
          <div>
            <p class="paratitle">
              Of this total number, how many are knowledge workers?
            </p>
            <div class="row">
              <p>125</p>
              <mat-slider
                class="slider"
                min="125"
                max="500"
                step="10"
                discrete
                [displayWith]="formatLabel"
              >
                <input matSliderThumb />
              </mat-slider>
              <p>500</p>
            </div>
          </div>
          <div>
            <p class="paratitle">
              How much time (in hours) does your organization spend configuring
              and deploying new endpoints per year?
            </p>
            <div class="row">
              <p>0</p>
              <mat-slider
                class="slider"
                min="0"
                max="10000000"
                step="1000"
                discrete
                [displayWith]="formatLabel"
              >
                <input matSliderThumb />
              </mat-slider>
              <p>10000000</p>
            </div>
          </div>
          <div>
            <p class="paratitle">
              How much time (in hours) does your IT help desk spend meeting new
              infrastructure requests per year?
            </p>
            <div class="row">
              <p>0</p>
              <mat-slider
                class="slider"
                min="0"
                max="10000000"
                step="1000"
                discrete
                [displayWith]="formatLabel"
              >
                <input matSliderThumb />
              </mat-slider>
              <p>10000000</p>
            </div>
          </div>
          <div>
            <p class="paratitle">
              How much does your organization spend on legacy on-premises
              security solutions per year?
            </p>
            <div class="row">
              <input type="number" class="input"  placeholder="0"/>
            </div>
          </div>
          <div>
            <p class="paratitle">
              How much does your organization spend on security infrastructure
              per year?
            </p>
            <div class="row">
              <input type="number" class="input" placeholder="0"/>
            </div>
          </div>
          <div>
            <p class="paratitle">
              How many full-time employees are dedicated to managing the
              security environment in your organization?
            </p>
            <div class="row">
              <p>2</p>
              <mat-slider
                class="slider"
                min="2"
                max="500"
                step="10"
                discrete
                [displayWith]="formatLabel"
              >
                <input matSliderThumb />
              </mat-slider>
              <p>500</p>
            </div>
          </div>
          <div>
            <p class="paratitle">
              How many full-time employees are dedicated to performing
              regulatory and compliance audits in your organization?
            </p>
            <div class="row">
              <p>2</p>
              <mat-slider
                class="slider"
                min="2"
                max="500"
                step="10"
                discrete
                [displayWith]="formatLabel"
              >
                <input matSliderThumb />
              </mat-slider>
              <p>500</p>
            </div>
          </div>
          <div>
            <p class="paratitle">
              How many full-time employees are dedicated to managing the
              identity and access management environment in your organization?
            </p>
            <div class="row">
              <p>2</p>
              <mat-slider
                class="slider"
                min="2"
                max="500"
                step="1000"
                discrete
                [displayWith]="formatLabel"
              >
                <input matSliderThumb />
              </mat-slider>
              <p>500</p>
            </div>
          </div>
          <p>
            A FORRESTER TOTAL ECONOMIC IMPACT™ STUDY COMMISSIONED BY MICROSOFT
          </p>
          <p class="para-title">
            The underlying financial model for this Zero Trust ROI Evaluator
            Tool has been commissioned by Microsoft and delivered by Forrester
            Consulting based on its Total Economic Impact™ methodology.
            Microsoft created this tool and Forrester has not verified it for
            accuracy or certified its results. Although great care has been
            taken to ensure the accuracy and completeness of the model used in
            this tool, Microsoft and Forrester are unable to accept any legal
            responsibility for any actions taken on the basis of the information
            contained herein. The tool is provided ‘AS IS’ and Microsoft and
            Forrester make no warranties of any kind.
          </p>
          <a
            href="https://ashy-island-0eebd2710.2.azurestaticapps.net/landing"
            class="anchor"
            >Link to the report</a
          >
        </div>
      </div>
      <div class="content-block">
        <div>
          <div class="background">
            <h1 class="totalbenefit"><strong> Total benefit:</strong> $22.1M *</h1>
            <p style="font-size: 12px">
              * The value delivered to the business by implementing Zero Trust
              solutions from Microsoft
            </p>
          </div>
          <div class="headerStyle benefit-sec" style="padding: 45px 20px 50px 20px">
            <h2>Total benefit</h2>
            <div class="row">
              <div class="content-block">
                <div class="benefit-block">
                  <h2 class="benefit-title">Cost Savings</h2>
                  <p class="benefit-para">$13.7M</p>
                  <img src="../../assets/images/more.svg" width="23" />
                </div>
              </div>
              <div class="content-block">
                <div class="benefit-block">
                  <h2 class="benefit-title">Cost Savings</h2>
                  <circle-progress
                    [percent]="85"
                    [radius]="60"
                    [outerStrokeWidth]="8"
                    [innerStrokeWidth]="0"
                    [outerStrokeColor]="'#0078D4'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="300"
                  ></circle-progress>
                  <div>
                    <img src="../../assets/images/more.svg" width="23" />
                  </div>
                </div>
              </div>
              <div class="content-block">
                <div class="benefit-block">
                  <h2 class="benefit-title">
                    Improved regulatory audit & compliance management
                  </h2>
                  <p>$158.9K</p>
                  <img src="../../assets/images/more.svg" width="23" />
                </div>
              </div>
              <div class="content-block">
                <div class="benefit-block">
                  <h2 class="benefit-title">
                    Improved identity & access management
                  </h2>
                  <circle-progress
                    [percent]="85"
                    [radius]="60"
                    [outerStrokeWidth]="8"
                    [innerStrokeWidth]="0"
                    [outerStrokeColor]="'#0078D4'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="300"
                  ></circle-progress>
                  <div>
                    <img src="../../assets/images/more.svg" width="23" />
                  </div>
                </div>
              </div>
              <div class="content-block">
                <div class="benefit-block">
                  <h2 class="benefit-title">Improved security management</h2>
                  <circle-progress
                    [percent]="85"
                    [radius]="60"
                    [outerStrokeWidth]="8"
                    [innerStrokeWidth]="0"
                    [outerStrokeColor]="'#0078D4'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="300"
                  ></circle-progress>
                  <div>
                    <img src="../../assets/images/more.svg" width="23" />
                  </div>
                </div>
              </div>
              <div class="content-block">
                <div class="benefit-block">
                  <h2 class="benefit-title">
                    Reduced risk of a security breach
                  </h2>
                  <circle-progress
                    [percent]="85"
                    [radius]="60"
                    [outerStrokeWidth]="8"
                    [innerStrokeWidth]="0"
                    [outerStrokeColor]="'#0078D4'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="300"
                  ></circle-progress>
                  <div>
                    <img src="../../assets/images/more.svg" width="23" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
